<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
	  <!--Send Mail Time-->
	  <add key="StartTime" value="09:06 PM " />
    <add key="callDuration" value="2" />
    <add key="CallType" value="1" />
	  <!--Log-->
    <add key="LogFileDrive" value="D:\\Logs\\EOD\\" />
    <add key="LogEnable" value="1" />
	  <!--Attachment-->
	  <add key="AttachmentEnable" value="1" />
	  <add key="AttachmentPath" value="D:\\EOD.xlsx" />
	  <add key="fileExt" value=".xlsx" />
	  <!--Mail Subject-->
	  <add key="MailSubject" value="EOD" />
	  <add key="MailSubjectTodaydateEnable" value="1" />
	  <!--Recips-->
	  <add key="Recips" value="dilipt@unfyd.com" />
	  <add key="EnableCC" value="1" />
	  <add key="RecipsCC" value="ganeshk@unfyd.com" />
	  <!--Body-->
	  <add key="EnableToCreateHtmlBody" value="1" />
	  <add key="ExcleToCreateHtmlBodyPath" value="D:\\EOD.xlsx" />
	  <add key="ExcleToCreateHtmlBodyPathExt" value=".xlsx" />
	  <!--<add key="EnableToCreateText" value="0" />
	  <add key="TextfilePath" value="D:\\EOD.xlsx" />-->
  </appSettings>
</configuration>